<a href="https://colab.research.google.com/github/RishithaSrija/Python_libraries/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

a_dict={'1st':1,'2nd':3,'3rd':4,'4th':6,'5th':15}
ser=pd.Series(a_dict)
ser

1st     1
2nd     3
3rd     4
4th     6
5th    15
dtype: int64

# Task-2

In [ ]:
import pandas as pd
import numpy as np

a_list=[1,3,4,6,15]
ser=pd.Series(a_list,index=['1st','2nd','3rd','4th','5th'])
print(ser)

1st     1
2nd     3
3rd     4
4th     6
5th    15
dtype: int64

In [ ]:
import pandas as pd
import numpy as np

df_arr = np.array([[25,85],[55,90],[26,79],[24,99]])
ser=pd.DataFrame(df_arr,index=['Rak','Pra','Giha','Hac'],columns=['Age','Marks'])
ser
ser.index
ser.values
# ser.columns

array([[25, 85],
       [55, 90],
       [26, 79],
       [24, 99]])

In [ ]:
#DataFrame

import pandas as pd
import numpy as np
#using dict
a_dict={'Name':{'R':'Rak','P':'Pra','G':'Giha','H':'Hac'},'Age':{'R':25,'P':55,'G':26,'H':24},'Marks':{'R':85,'P':90,'G':79,'H':99}}
ser=pd.DataFrame(a_dict)
ser
#using list
a_dict={'Name':['Rak','Pra','Giha','Hac'],'Age':[25,55,6,24],'Marks':[85,90,79,99]}
ser=pd.DataFrame(a_dict)
ser

a_dict.values()
a_dict.keys()

#using dict of series
ser1=pd.Series(['Rak','Pra','Giha','Hac'],index=['R','P','G','H'])
ser2=pd.Series([85,90,79,99],index=['R','P','G','H'])
ser3=pd.Series([25,55,26,24],index=['R','P','G','H'])
a_dict={'Name':ser1,'Marks':ser2,'Age':ser3}
df=pd.DataFrame(a_dict)
df

   Name  Marks  Age
R   Rak     85   25
P   Pra     90   55
G  Giha     79   26
H   Hac     99   24

In [ ]:
#1
idx = df['Marks'].idxmax()
print("Student who scored highest marks: Name:",df.loc[idx,'Name'],"Age: ",df.loc[idx,'Age'],"Marks: ",df.loc[idx,'Marks'])
#2 add new student
df.loc['Th'] = ['Tharushi', 23, 88]

print(df)
print()
#3
idx1=df['Age']>=25
print("Students who are 25 or older : ",df[idx1])
#4
idx2=df['Marks']<80
df.loc[idx2,'Marks']+=10
print("After increasing 10 bonus below 80: ",df[idx2])
#5
avg=df['Marks'].mean()
print("Average marks of class: ",avg)

Student who scored highest marks: Name: Hac Age:  24 Marks:  99
        Name  Marks  Age
R        Rak     85   25
P        Pra     90   55
G       Giha     89   26
H        Hac     99   24
4        Eva     30   88
Th  Tharushi     23   88

Students who are 25 or older :          Name  Marks  Age
R        Rak     85   25
P        Pra     90   55
G       Giha     89   26
4        Eva     30   88
Th  Tharushi     23   88
After increasing 10 bonus below 80:          Name  Marks  Age
4        Eva     40   88
Th  Tharushi     33   88
Average marks:  72.66666666666667

# Data correlation

In [ ]:
import pandas as pd

# Sample workout data
data = {
    'Duration': ['60', '60', '45', '45', '30', '30', '60', '45', '60', '30'],
    'Pulse': [110, 117, 103, 109, 98, 100, 114, 104, 109, 97],
    'Maxpulse': [130, 145, 135, 175, 120, 132, 137, 140, 149, 127],
    'Calories': [409, 479, 340, 282, 406, 300, 374, 253, 195, 269]
}

df = pd.DataFrame(data)
print(df)

# Correlation matrix
print("\nCorrelation Matrix:\n", df.corr())
#Rename
df.rename(columns={'Duration':'Time'},inplace=True)
print(df)
#Filtering
df.query('Pulse>110 and Calories<400')
df[df['Calories'].between(200,500)]
# print(df.loc[df['Calories']>300])
#string operations

df['Pulse'] = df['Pulse'].astype(str)
df['Maxpulse'] = df['Maxpulse'].astype(str)

print("\nTime in Uppercase:\n", df['Time'].str.upper())
print(df['Pulse'].str.contains('110'))
print()
print(df['Maxpulse'].str.replace('135','121'))
print()
df['Pulse']=df['Pulse'].str.title()

  Duration  Pulse  Maxpulse  Calories
0       60    110       130       409
1       60    117       145       479
2       45    103       135       340
3       45    109       175       282
4       30     98       120       406
5       30    100       132       300
6       60    114       137       374
7       45    104       140       253
8       60    109       149       195
9       30     97       127       269

Correlation Matrix:
           Duration     Pulse  Maxpulse  Calories
Duration  1.000000  0.916140  0.358244  0.221981
Pulse     0.916140  1.000000  0.499724  0.379759
Maxpulse  0.358244  0.499724  1.000000 -0.303795
Calories  0.221981  0.379759 -0.303795  1.000000
  Time  Pulse  Maxpulse  Calories
0   60    110       130       409
1   60    117       145       479
2   45    103       135       340
3   45    109       175       282
4   30     98       120       406
5   30    100       132       300
6   60    114       137       374
7   45    104       140       253
8   60    109       149       195
9   30     97       127       269

Time in Uppercase:
 0    60
1    60
2    45
3    45
4    30
5    30
6    60
7    45
8    60
9    30
Name: Time, dtype: object
0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: Pulse, dtype: bool

0    130
1    145
2    121
3    175
4    120
5    132
6    137
7    140
8    149
9    127
Name: Maxpulse, dtype: object

# Online retail dataset
TASK 3
Data set Link:
https://www.kaggle.com/datasets/vijayuv/onlineretail
Online Retail Data Set | Kaggle
Kaggle is the world‚Äôs largest data science community with powerful tools and resources to help you achieve your data science goals.

‚ÄúE-Commerce Transaction Analytics‚Äù (Using Online Retail Dataset)
üéØ Scenario / Story
You are a data analyst at ShopWave, an e-commerce platform in the UK. ShopWave logs every transaction (order) made in their store. Each record has:
Invoice number
Stock code / product ID
Description
Quantity
Invoice date
Unit price
Customer ID
Country

Your manager wants you to clean the data, fix inconsistencies, derive business metrics, and explore relationships. The cleaned data should enable deeper dashboards later.

Tasks & Steps
Below is a full pipeline of tasks that students should perform. Each task corresponds to one or more of the functions/techniques you already taught.
Load & Inspect
Read the CSV (e.g. OnlineRetail.csv)
Display head(), tail(), info(), shape
Check dtypes
Missing Data Handling
Use isnull().sum() to find missing values (e.g. some Description or Customer ID missing)
Drop rows that have missing Customer ID (because you can‚Äôt tie to a customer)
Fill missing Description or other columns using a placeholder (e.g. "Unknown")
Date Parsing / Format Correction
The InvoiceDate column might be string. Convert using pd.to_datetime(..., format='mixed')
Drop records where parsing failed (if any)
Detect & Fix Bad or Outlier Data
Some transactions might have negative quantity (returns) ‚Äî detect those and decide whether to treat as returns or drop
Some unit prices might be zero or negative ‚Äî fix/clean these (e.g. drop or adjust)
Duplicates
Use duplicated() to find duplicated invoice-item entries
Drop duplicates

In [ ]:
path='/content/OnlineRetail.csv'
df=pd.read_csv('OnlineRetail.csv')

In [ ]:
#1
import pandas as pd
print("Top 5 rows:")
display(df.head())
print("\nLast 5 rows:")
display(df.tail())
print("\nDataFrame Info:")
df.info()
print("\nShape of DataFrame:", df.shape)
print("Data types: ",df.dtypes)
print()
#2 missing data handling

print("Missing values: ",df.isnull().sum())
print()

df=df.dropna(subset=['CustomerID'])

df['Description']=df['Description'].fillna('Unknown')
df.fillna('Unknown', inplace=True)
print("Missing values after cleaning:\n", df.isnull().sum())
print("\nBottom rows after cleaning:")
print(df.tail().to_string())

#3
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'],errors='coerce')
#drop where parsing failed
df=df.dropna(subset=['InvoiceDate'])
print("\nBottom rows after parsing:")
print(df.tail().to_string())
print()

#4
negative_qty = df[df['Quantity'] < 0]
print("Transactions with negative Quantity (returns):\n", negative_qty.head())
print("Total returns:", negative_qty.shape[0])
print()
df['IsReturn'] = df['Quantity'] < 0
df = df[df['Quantity'] >= 0]

invalid_price=df[df['UnitPrice']<0]
print("Transactions with zero or negative UnitPrice:\n", invalid_price.head())
#5
duplicates = df[df.duplicated(subset=['InvoiceNo', 'StockCode'], keep=False)]
print("Duplicated invoice-item entries:\n", duplicates.head())
print("Total duplicates:", duplicates.shape[0])

df_cleaned = df.drop_duplicates(subset=['InvoiceNo', 'StockCode'], keep='first')

print("Shape before dropping duplicates:", df.shape)
print("Shape after dropping duplicates:", df_cleaned.shape)

Top 5 rows:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,IsReturn
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,False
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,False
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,False
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,False
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,False

Last 5 rows:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,IsReturn
37303,539456,84032B,CHARLIE + LOLA RED HOT WATER BOTTLE,1,2010-12-17 17:23:00,2.95,16885.0,United Kingdom,False
37304,539456,85135C,RED DRAGONFLY HELICOPTER,2,2010-12-17 17:23:00,7.95,16885.0,United Kingdom,False
37305,539456,22095,LADS ONLY TISSUE BOX,1,2010-12-17 17:23:00,1.25,16885.0,United Kingdom,False
37306,539456,15056BL,EDWARDIAN PARASOL BLACK,1,2010-12-17 17:23:00,5.95,16885.0,United Kingdom,False
37307,539456,20679,EDWARDIAN PARASOL RED,1,2010-12-17 17:23:00,5.95,16885.0,United Kingdom,False

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 23869 entries, 0 to 37307
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    23869 non-null  object
 1   StockCode    23869 non-null  object
 2   Description  23869 non-null  object
 3   Quantity     23869 non-null  int64
 4   InvoiceDate  23869 non-null  datetime64[ns]
 5   UnitPrice    23869 non-null  float64
 6   CustomerID   23869 non-null  float64
 7   Country      23869 non-null  object
 8   IsReturn     23869 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 1.7+ MB

Shape of DataFrame: (23869, 9)
Data types:  InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
IsReturn                 bool
dtype: object

Missing values:  InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
IsReturn       0
dtype: int64

Missing values after cleaning:
 InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
IsReturn       0
dtype: int64

Bottom rows after cleaning:
      InvoiceNo StockCode                          Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country  IsReturn
37303    539456    84032B  CHARLIE + LOLA RED HOT WATER BOTTLE         1 2010-12-17 17:23:00       2.95     16885.0  United Kingdom     False
37304    539456    85135C             RED DRAGONFLY HELICOPTER         2 2010-12-17 17:23:00       7.95     16885.0  United Kingdom     False
37305    539456     22095                 LADS ONLY TISSUE BOX         1 2010-12-17 17:23:00       1.25     16885.0  United Kingdom     False
37306    539456   15056BL              EDWARDIAN PARASOL BLACK         1 2010-12-17 17:23:00       5.95     16885.0  United Kingdom     False
37307    539456     20679                EDWARDIAN PARASOL RED         1 2010-12-17 17:23:00       5.95     16885.0  United Kingdom     False

Bottom rows after parsing:
      InvoiceNo StockCode                          Description  Quantity         InvoiceDate  UnitPrice  CustomerID         Country  IsReturn
37303    539456    84032B  CHARLIE + LOLA RED HOT WATER BOTTLE         1 2010-12-17 17:23:00       2.95     16885.0  United Kingdom     False
37304    539456    85135C             RED DRAGONFLY HELICOPTER         2 2010-12-17 17:23:00       7.95     16885.0  United Kingdom     False
37305    539456     22095                 LADS ONLY TISSUE BOX         1 2010-12-17 17:23:00       1.25     16885.0  United Kingdom     False
37306    539456   15056BL              EDWARDIAN PARASOL BLACK         1 2010-12-17 17:23:00       5.95     16885.0  United Kingdom     False
37307    539456     20679                EDWARDIAN PARASOL RED         1 2010-12-17 17:23:00       5.95     16885.0  United Kingdom     False

Transactions with negative Quantity (returns):
 Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, IsReturn]
Index: []
Total returns: 0

Transactions with zero or negative UnitPrice:
 Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, IsReturn]
Index: []
Duplicated invoice-item entries:
     InvoiceNo StockCode                      Description  Quantity  \
113    536381     71270                  PHOTO CLIP LINE         1
125    536381     71270                  PHOTO CLIP LINE         3
483    536409    90199C  5 STRAND GLASS NECKLACE CRYSTAL         3
485    536409     22111     SCOTTIE DOG HOT WATER BOTTLE         1
489    536409     22866    HAND WARMER SCOTTY DOG DESIGN         1

            InvoiceDate  UnitPrice  CustomerID         Country  IsReturn
113 2010-12-01 09:41:00       1.25     15311.0  United Kingdom     False
125 2010-12-01 09:41:00       1.25     15311.0  United Kingdom     False
483 2010-12-01 11:45:00       6.35     17908.0  United Kingdom     False
485 2010-12-01 11:45:00       4.95     17908.0  United Kingdom     False
489 2010-12-01 11:45:00       2.10     17908.0  United Kingdom     False
Total duplicates: 1522
Shape before dropping duplicates: (23869, 9)
Shape after dropping duplicates: (23057, 9)

In [ ]:
import pandas as pd
path = '/content/OnlineRetail.csv'
df = pd.read_csv(path,encoding='ISO-8859-1')
#6.filtering& sorting
sus_outliers=df[df['Quantity']>1000]
print("Filtering Suspicious transactions: ",sus_outliers.head())

df['Revenue']=df['UnitPrice']*df['Quantity']
top_revenue = df.nlargest(5,'Revenue')
print("\nTop 5 highest revenue orders:\n", top_revenue[['InvoiceNo', 'StockCode', 'Quantity', 'UnitPrice', 'Revenue']])
#7.Merge
product_info = pd.DataFrame({
    'StockCode': ['85123A', '71053', '84406B'],
    'Category': ['Home', 'Office', 'Garden'],
    'Supplier': ['SupplierA', 'SupplierB', 'SupplierC']
})
df_merged = pd.merge(df, product_info, on='StockCode', how='left')

print("\nData after merging with product_info:\n", df_merged.head())
#8
df['Revenue']=df['UnitPrice']*df['Quantity']
ct_summary=df.groupby('Country').agg(
    Total_Revenue=('Revenue','sum'),
    Mean_Revenue=('Revenue','mean'),
    Order_count=('InvoiceNo','count'),
).sort_values(by='Total_Revenue',ascending=False)
print("\n Revenue Country Summary:\n", ct_summary.head())

bins=[0,5,20,df['UnitPrice'].max()]
labels=['Low','Medium','High']
df['PriceCategory']=pd.cut(df['UnitPrice'],bins=bins,labels=labels)

price_summary=df.groupby('PriceCategory').agg(
    Total_purchases=('InvoiceNo','count'),
    Avg_Revenue=('Revenue','mean')
)
print("\nPrice Category Summary:\n",price_summary)

#9
numeric_cols=['Quantity','UnitPrice','Revenue']
corr_matrix=df[numeric_cols].corr()
print("\nCorrelation Matrix:\n",corr_matrix)
print()

corr_pairs=corr_matrix.unstack().reset_index()
corr_pairs.columns=['Feature1','Feature2','Correlation']

corr_pairs=corr_pairs[corr_pairs['Feature1']!=corr_pairs['Feature2']]
strong_corr=corr_pairs[corr_pairs['Correlation']>0.7]
print("\nStrong Positive Correlation Pairs:\n",strong_corr)

#10
df.rename(columns={'StackCode':'Product_ID','UnitPrice':'Price'},inplace=True)
df['Desc_lower']=df['Description'].str.lower()
glass_prod=df[df['Desc_lower'].str.contains('glass',na=False)]
print("\nProducts with 'Glass' in Description:\n",glass_prod.head())

Filtering Suspicious transactions:        InvoiceNo StockCode                        Description  Quantity  \
4850     536809     84950     ASSORTED COLOUR T-LIGHT HOLDER      1824
4945     536830     84077  WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880
4946     536830     21915             RED  HARMONICA IN BOX       1400
6365     536890    17084R              ASSORTED INCENSE PACK      1440
16435    537659     22189            CREAM HEART CARD HOLDER      1008

           InvoiceDate  UnitPrice  CustomerID         Country
4850   12/2/2010 16:48       0.55     15299.0  United Kingdom
4945   12/2/2010 17:38       0.18     16754.0  United Kingdom
4946   12/2/2010 17:38       1.06     16754.0  United Kingdom
6365   12/3/2010 11:48       0.16     14156.0            EIRE
16435  12/7/2010 16:43       2.31     18102.0  United Kingdom

Top 5 highest revenue orders:
        InvoiceNo  StockCode  Quantity  UnitPrice    Revenue
540421    581483      23843     80995       2.08  168469.60
61619     541431      23166     74215       1.04   77183.60
222680    556444      22502        60     649.50   38970.00
15017     537632  AMAZONFEE         1   13541.33   13541.33
299982   A563185          B         1   11062.06   11062.06

Data after merging with product_info:
   InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  UnitPrice  CustomerID         Country  Revenue Category  \
0  12/1/2010 8:26       2.55     17850.0  United Kingdom    15.30     Home
1  12/1/2010 8:26       3.39     17850.0  United Kingdom    20.34   Office
2  12/1/2010 8:26       2.75     17850.0  United Kingdom    22.00   Garden
3  12/1/2010 8:26       3.39     17850.0  United Kingdom    20.34      NaN
4  12/1/2010 8:26       3.39     17850.0  United Kingdom    20.34      NaN

    Supplier
0  SupplierA
1  SupplierB
2  SupplierC
3        NaN
4        NaN

 Revenue Country Summary:
                 Total_Revenue  Mean_Revenue  Order_count
Country
United Kingdom    8187806.364     16.525065       495478
Netherlands        284661.540    120.059696         2371
EIRE               263276.820     32.122599         8196
Germany            221698.210     23.348943         9495
France             197403.900     23.069288         8557

Price Category Summary:
                Total_purchases  Avg_Revenue
PriceCategory
Low                     451400    16.613265
Medium                   83822    25.696286
High                      4170    27.992851

Correlation Matrix:
            Quantity  UnitPrice   Revenue
Quantity   1.000000  -0.001235  0.886681
UnitPrice -0.001235   1.000000 -0.162029
Revenue    0.886681  -0.162029  1.000000


Strong Positive Correlation Pairs:
    Feature1  Feature2  Correlation
2  Quantity   Revenue     0.886681
6   Revenue  Quantity     0.886681

/tmp/ipython-input-314537822.py:33: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  price_summary=df.groupby('PriceCategory').agg(

Products with 'Glass' in Description:
     InvoiceNo StockCode                        Description  Quantity  \
6      536365     21730  GLASS STAR FROSTED T-LIGHT HOLDER         6
64     536373     21730  GLASS STAR FROSTED T-LIGHT HOLDER         6
81     536375     21730  GLASS STAR FROSTED T-LIGHT HOLDER         6
138    536381     22778                 GLASS CLOCHE SMALL         3
148    536382     22798   ANTIQUE GLASS DRESSING TABLE POT         8

        InvoiceDate  Price  CustomerID         Country  Revenue PriceCategory  \
6    12/1/2010 8:26   4.25     17850.0  United Kingdom    25.50           Low
64   12/1/2010 9:02   4.25     17850.0  United Kingdom    25.50           Low
81   12/1/2010 9:32   4.25     17850.0  United Kingdom    25.50           Low
138  12/1/2010 9:41   3.95     15311.0  United Kingdom    11.85           Low
148  12/1/2010 9:45   2.95     16098.0  United Kingdom    23.60           Low

                            Desc_lower
6    glass star frosted t-light holder
64   glass star frosted t-light holder
81   glass star frosted t-light holder
138                 glass cloche small
148   antique glass dressing table pot

In [7]:
#descriptive data analysis
import pandas as pd
path = '/content/OnlineRetail.csv'
df = pd.read_csv(path, encoding='ISO-8859-1')

df['Revenue'] = df['Quantity'] * df['UnitPrice']

print(df.columns)
print("Numeric summary:\n", df[['Quantity','UnitPrice','Revenue']].describe())
print("\nOrders by country:\n", df['Country'].value_counts())

#advance filtering
high_val_germany=df.query("Revenue >1000 and Country=='Germany'")
print("\nHigh value orders in Germany:\n", high_val_germany.head())

med_qt=df[df['Quantity'].between(10,100)]
print("\n Order with Quantity between 10 and 100:\n",med_qt)

#Export cleaned/enriched dataset
df.to_csv('OnlineRetail_Cleaned.csv',index=False)
print("Cleaned dataset saved as CSV")

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'Revenue'],
      dtype='object')
Numeric summary:
             Quantity      UnitPrice        Revenue
count  541909.000000  541909.000000  541909.000000
mean        9.552250       4.611114      17.987795
std       218.081158      96.759853     378.810824
min    -80995.000000  -11062.060000 -168469.600000
25%         1.000000       1.250000       3.400000
50%         3.000000       2.080000       9.750000
75%        10.000000       4.130000      17.400000
max     80995.000000   38970.000000  168469.600000

Orders by country:
 Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

High value orders in Germany:
 Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Revenue]
Index: []

 Order with Quantity between 10 and 100:
        InvoiceNo StockCode                      Description  Quantity  \
9         536367     84879    ASSORTED COLOUR BIRD ORNAMENT        32
26        536370     22728        ALARM CLOCK BAKELIKE PINK        24
27        536370     22727        ALARM CLOCK BAKELIKE RED         24
28        536370     22726       ALARM CLOCK BAKELIKE GREEN        12
29        536370     21724  PANDA AND BUNNIES STICKER SHEET        12
...          ...       ...                              ...       ...
541894    581587     22631         CIRCUS PARADE LUNCH BOX         12
541895    581587     22556   PLASTERS IN TIN CIRCUS PARADE         12
541896    581587     22555        PLASTERS IN TIN STRONGMAN        12
541902    581587     22629              SPACEBOY LUNCH BOX         12
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12

            InvoiceDate  UnitPrice  CustomerID         Country  Revenue
9        12/1/2010 8:34       1.69     13047.0  United Kingdom    54.08
26       12/1/2010 8:45       3.75     12583.0          France    90.00
27       12/1/2010 8:45       3.75     12583.0          France    90.00
28       12/1/2010 8:45       3.75     12583.0          France    45.00
29       12/1/2010 8:45       0.85     12583.0          France    10.20
...                 ...        ...         ...             ...      ...
541894  12/9/2011 12:50       1.95     12680.0          France    23.40
541895  12/9/2011 12:50       1.65     12680.0          France    19.80
541896  12/9/2011 12:50       1.65     12680.0          France    19.80
541902  12/9/2011 12:50       1.95     12680.0          France    23.40
541904  12/9/2011 12:50       0.85     12680.0          France    10.20

[149969 rows x 9 columns]
Cleaned dataset saved as CSV

# Data file operations

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path='/content/drive/MyDrive/Datasets/data.csv'
df=pd.read_csv(path)
print(df.head())
df.tail()
df.isnull().sum()
# new_df=df.dropna()
# print(new_df.to_string)
# df.fillna(130,inplace=True)
# print(df.to_string())
# x=df['Calories'].median()
# df.fillna({'Calories':x},inplace=True)
# print(df.to_string())
x=df['Calories'].mode()[0]
df['Calories'].fillna(x,inplace=True)
print(df.to_string())
# x=df['Calories'].mean()
# df['Calories'].fillna(x,inplace=True)
# print(df.to_string())

# df['Date']=pd.to_datetime(df['Date'],format='mixed')
# print(df.to_string())#22-NAT not a time
# df.dropna(subset=['Date'],inplace=True)
# print(df.to_string())

# df.loc[7,'Duration']=45
# print(df.to_string())

# for x in df.index:
#   if df.loc[x,'Duration']>120:
#     df.loc[x,'Duration']=120
# print(df.to_string())

# for x in df.index:
#   if df.loc[x,'Duration']>=120:
#     df.drop(x,inplace=True)
# print(df.to_string())

# print(df.duplicated())
# df.drop_duplicates(inplace=True)
# print(df.to_string())

# high_pulse=df['Pulse']>100
# print(df[high_pulse])
#high_pulse=df[df['Pulse']>110]
#print(high_pulse)
sorted_df=df.sort_values(by='Calories',ascending=False)
print(sorted_df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   Duration        Date  Pulse  Maxpulse  Calories
0        60  2020/12/01    110       130     409.1
1        60  2020/12/02    117       145     479.0
2        60  2020/12/03    103       135     340.0
3        45  2020/12/04    109       175     282.4
4        45  2020/12/05    117       148     406.0
    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     300.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     300.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool
    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112     300.0
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45         NaN    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60  2020/12/26    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132     300.0
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0
    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
10        60  2020/12/11    103       147     329.3
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
19        60  2020/12/19    103       123     323.0
21        60  2020/12/21    108       131     364.2
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
28        60  2020/12/28    103       132     300.0
30        60  2020/12/30    102       129     380.3
    Duration        Date  Pulse  Maxpulse  Calories
1         60  2020/12/02    117       145     479.0
0         60  2020/12/01    110       130     409.1
4         45  2020/12/05    117       148     406.0
30        60  2020/12/30    102       129     380.3
14        60  2020/12/14    104       132     379.3
6         60  2020/12/07    110       136     374.0
21        60  2020/12/21    108       131     364.2
13        60  2020/12/13    106       128     345.3
2         60  2020/12/03    103       135     340.0
25        60  2020/12/25    102       126     334.5
10        60  2020/12/11    103       147     329.3
19        60  2020/12/19    103       123     323.0
5         60  2020/12/06    102       127     300.0
28        60  2020/12/28    103       132     300.0
23        60  2020/12/23    130       101     300.0
18        45  2020/12/18     90       112     300.0
17        60  2020/12/17    100       120     300.0
3         45  2020/12/04    109       175     282.4
22        45         NaN    100       119     282.0
29        60  2020/12/29    100       132     280.0
15        60  2020/12/15     98       123     275.0
9         60  2020/12/10     98       124     269.0
7        450  2020/12/08    104       134     253.3
11        60  2020/12/12    100       120     250.7
26        60  2020/12/26    100       120     250.0
24        45  2020/12/24    105       132     246.0
31        60  2020/12/31     92       115     243.0
20        45  2020/12/20     97       125     243.0
27        60  2020/12/27     92       118     241.0
16        60  2020/12/16     98       120     215.2
8         30  2020/12/09    109       133     195.1

/tmp/ipython-input-1633346568.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Calories'].fillna(x,inplace=True)

In [ ]:
#create another dataframe
trainer_df=pd.DataFrame({'Date':['2020/12/01','2020/12/02','2020/12/03'],'Trainer':['Alex','Jordan','Taylor']})
print(trainer_df)
#Date to Date time format
# trainer_df['Date']=pd.to_datetime(trainer_df['Date'])
# print(trainer_df)
#merge
merged_df=pd.merge(df,trainer_df,on='Date')
print(merged_df)

#group by pulse range(bucketed)
avg_cal_by_duration=df.groupby('Duration')['Calories'].mean()
print(avg_cal_by_duration)
#group by pulse range
df['PulseRange']=pd.cut(df['Pulse'],bins=[100,110,120,130,140,150,180])
grp_stats=df.groupby('PulseRange',observed=False).agg({'Calories':'mean','Maxpulse':'max'})
print(grp_stats)

         Date Trainer
0  2020/12/01    Alex
1  2020/12/02  Jordan
2  2020/12/03  Taylor
   Duration        Date  Pulse  Maxpulse  Calories  pulseRange Trainer
0        60  2020/12/01    110       130     409.1  (100, 110]    Alex
1        60  2020/12/02    117       145     479.0  (110, 120]  Jordan
2        60  2020/12/03    103       135     340.0  (100, 110]  Taylor
Duration
30     195.100000
45     293.233333
60     316.604348
450    253.300000
Name: Calories, dtype: float64
            Calories  Maxpulse
PulseRange
(100, 110]  322.2375     175.0
(110, 120]  442.5000     148.0
(120, 130]  300.0000     101.0
(130, 140]       NaN       NaN
(140, 150]       NaN       NaN
(150, 180]       NaN       NaN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Task-1

In [ ]:
import pandas as pd
import numpy as np
#1
scores=[72,54,69,92,86,77,89,47,33,65]
ser=pd.Series(scores,index=['Alice','Bob','Charlie','David','Eva','Frank','Grace','Henry','Ivy','Jack'])
#2
print("Charlie score:",ser['Charlie']," Eva score:",ser['Eva'])
#3
scores=np.array([72,54,69,92,86,77,89,47,33,65])
scores=scores+5
print("Scores after bonus",scores)
#4
print("Students who scored above 90:",scores[scores>90])
#5
avg=np.sum(scores)/len(scores)
print("Average score:",avg)

Charlie score: 69  Eva score: 86
Scores after bonus [77 59 74 97 91 82 94 52 38 70]
Students who scored above 90: [97 91 94]
Average score: 73.4